<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <a href="trang-chu">Trang chủ</a>

  <a href="trang-chu"><button>Trở lại</button></a>
  <h1>Chào <span>Thắng đẹp trai</span></h1>
  <h2>Trả lời câu hỏi để vào chat</h2>
  <div class="wrap-question">
    <div class="question">
      <h5>Lorem ipsum dolar amet ...... ?</h5>
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
    </div>
    <div class="question">
      <h5>Lorem ipsum dolar amet ...... ?</h5>
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
    </div>
    <div class="question">
      <h5>Lorem ipsum dolar amet ...... ?</h5>
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
    </div>
    <div class="question">
      <h5>Lorem ipsum dolar amet ...... ?</h5>
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
    </div>
    <div class="question">
      <h5>Lorem ipsum dolar amet ...... ?</h5>
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
      <input type="checkbox" name="" id=""> amit amin
    </div>
  </div>
  <a href="chon-loai-chat">
    <button>Trả lời</button>
  </a>
</body>
</html>