<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <a href="trang-chu">Trang chủ</a>

  <h1>Chào <span>Thắng đẹp trai</span></h1>
  <a href="doi-ten"><button>Đổi tên</button></a>
  <h2>Chọn loại chat</h2>
  <a href="chat-voi-moi-nguoi">
    <button>Chat với tất cả mọi người</button>
  </a>
  <a href="tao-vao-chat-nhom">
    <button>Chat Nhóm</button>
  </a>
  <a href="chat-voi-nguoi-la">
    <button>Chat với người lạ</button>
  </a>
</body>
</html>