<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="trang-chu">Trang chủ</a>
  <h1>Đổi tên</h1>
  <h2>Tên cũ: abc</h2>
  <h2>Tên mới: </h2>
  <input type="text">
  <button>Đổi tên</button>
  <a href="chon-loai-chat"><button>Trở lại</button></a>
</body>
</html>