<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="js/jquery.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/layout.js"></script>
  <link rel="stylesheet" href="css/layout.css">
</head>
<body>
  <div class="wrap-enter-chat" id="wrap-enter-chat">
      <div>
        <h1>Nhập tên để vào chat:</h1>
        <div class="form-group">
          <label for="txtUserName">Tên: </label>
          <input type="text" id="txtUserName" class="form-control">
        </div>
        <!-- <a href="chon-loai-chat"> -->
        <button class="btn" id="btn-join-chat">Vào chat</button>
        <!-- </a>  -->
      </div>
    </div>
    <div class="wrap-chat hidden" id="wrap-chat">
      <div class="wrap">
        <div class="sidebar">
          <div class="user-info">
            <h2>Hello
              <span id="userName">John</span>, vào chat nào!
              <button class="btn" id="btn-logout" class="btn">Thoát</button>
    
            </h2>
          </div>
          <div class="types">
            <div id="tab-home" class="pointer type">
              home
            </div>
            <div id="tab-all" class="pointer type">
              moi nguoi
            </div>
            <div id="tab-room" class="pointer type">
              group
            </div>
            <div id="tab-anonymous" class="pointer type">
              tam su cung nguoi la
            </div>
            <div>
              <h3>CHAT NTU</h3>
            </div>
          </div>
        </div>
        <div class="content" id="nav-home">
          <div class="title">
            HOME
          </div>
          <div class="messages">
            <ul>
              <h3>Cái gì đây?</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus voluptatem et laborum dolorem, repellendus
                numquam neque quo? Voluptate, commodi. Aperiam sed veritatis reprehenderit. Est illo totam quidem nemo
                mollitia. Dolores?</p>
              <h3>How to dùng?</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo odio est aut possimus rerum
                accusantium molestias? Quas quidem cum culpa nulla eius nostrum perspiciatis, deserunt laudantium, ab minus
                asperiores.</p>
              <h3>Feedback và hỏi ai?</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil voluptate, culpa commodi alias fugit voluptatibus
                aliquid modi assumenda quisquam error id repudiandae ab iure itaque facilis libero quos, quam nisi.</p>
            </ul>
          </div>
        </div>





        <div class="content hidden" id="nav-all">
          <div class="title">
            ALLL
          </div>
          <div class="messages" id="wrap-chat-all-content">
            <ul>
            </ul>
          </div>
          <div class="wrap-send-message">
            <div class="form-group">
              <input type="text" id="chat-all-message" class="form-control">
              <button class="btn" id="chat-all-btn">Gửi</button>
            </div>
          </div>
        </div>




        <div class="content hidden" id="nav-room">
          <div class="title">
            ROOM
          </div>
          <div class="messages">
            <ul>
              <li class="sent">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="replies">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="replies">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="replies">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="sent">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="sent">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="sent">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
            </ul>
          </div>
          <div class="message-input">
            <input type="text" name="" id="">
          </div>
        </div>




        
        <div class="content hidden" id="nav-anonymous">
          <div class="title">
            Chat voi nguoi la
          </div>
          <div class="messages">
            <ul>
              <li class="sent">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="replies">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="replies">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="replies">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="sent">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="sent">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
              <li class="sent">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eius accusantium deserunt quos commodi eveniet, necessitatibus, magnam quisquam error corrupti optio sint ipsam dolorum tempora ex doloremque aperiam laborum temporibus.
                </p>
              </li>
            </ul>
          </div>
          <div class="message-input">
            <input type="text" name="" id="">
          </div>
        </div>
      </div>
    </div>
</body>
</html>