<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="js/jquery.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/layout.js"></script>
  <link rel="stylesheet" href="css/layout.css">
  <title>Chat NTU</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/chatntulogo.jpg" />
</head>
<body>
  <div class="wrap-enter-chat" id="wrap-enter-chat">
    <div class="text-center">
      <h1 class="text-head">Chat Nha Trang University</h1>
      <h3 class="text-head">Trang web chat của sinh viên Đại học Nha Trang</h3>
      <div class="form-group">
        <!-- <label for="txtUserName">Tên: </label> -->
        <input type="text" id="txtUserName" class="form-control" placeholder="Nhập tên bạn vào để chat nè...">
      </div>
      <p class="text-head">(* không cần tên thật đâu nha)</p>
      <!-- Button trigger modal -->
      <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
        Cái gì đây?
      </button>
        
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cái gì đây?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="text-align: left">
              <p>Đây là trang web của sinh viên trường Đại học Nha Trang tạo ra, dùng để chat/ nhắn tin giữa mọi người với nhau.</p>
              <p>Mục đích chủ yếu để các bạn gắn kết với nhau, tâm sự mọi chuyện mà không cần biết đó là ai.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <a href="chon-loai-chat"> -->
      <button class="btn" id="btn-join-chat">Vào chat</button>
      <!-- </a>  -->
    </div>
  </div>
  <div class="wrap-chat hidden" id="wrap-chat">
    <div class="wrap">
      <button class="btn" id="btn-logout" class="btn">Thoát</button>
      <div class="sidebar">
        <div>
          <h2 class="text-center text-head">CHAT NTU</h2>
        </div>
        <div class="user-info">
          <h4>Hello
            <span id="userName">John</span>, vào chat nào!
          </h4>
        </div>
        <div class="types">
          <div id="tab-home" class="pointer type active">
            Trang chủ
          </div>
          <div id="tab-all" class="pointer type">
            Mọi người (<span id="all-unreaded-count">0</span>)
          </div>
          <div id="tab-room" class="pointer type">
            Nhóm (<span id="room-unreaded-count">0</span>)
          </div>
          <div id="tab-anonymous" class="pointer type">
            Tâm sự cùng người lạ (<span id="anonymous-unreaded-count">0</span>)
          </div>
        </div>
        <div class="pt-2">
          <h6>Online
            <span id="total-all-user"></span>
          </h6>
          <div class="wrap-list" id="wrap-chat-all-user-list">
          </div>
        </div>
      </div>
      <div class="content" id="nav-home">
          <div class="title text-center">
            <h5 class="text-primary">TRANG CHỦ</h5>
          </div>
        <div class="messages pt-2">
          <ul>
            <h3>Cái gì đây?</h3>
            <p>Đây là trang web của sinh viên trường Đại học Nha Trang tạo ra, dùng để chat/ nhắn tin giữa mọi người với nhau.</p>
            <p>Mục đích chủ yếu để các bạn gắn kết với nhau, tâm sự mọi chuyện mà không cần biết đó là ai.</p>
            <h3>How to dùng?</h3>
            <p>Có 3 loại chat ở đây:</p>
            <p>- Chat với mọi người: Chat với tất cả mọi người đang truy cập vào trang web này.</p>
            <p>- Chat nhóm: Có tính năng tạo nhóm và vào nhóm, để tạo ra các nhóm các bạn nhập tên nhóm muốn tạo và nhấn tạo nhóm, còn nếu muốn vào nhóm đã có thì nhập tên vào ô tên nhóm muốn vào và nhấn vào nhóm nhen.</p>
            <p>- Tâm sự với người lạ: đúng như với cái tên, các bạn sẽ kết nối với người hoàn toàn lạ mà mình không biết, đầu tiên các bạn chọn tab Tâm sự cùng người lạ ở thanh bên trái, sau đó nhấn nút vào chat, đợi người lạ kết nối, còn việc sau đó là việc của bạn nha.</p>
            <p class="text-warning">
              <b>Lưu ý:</b> hiện tại, trang web không lưu lại lịch sử cuộc trò chuyện, vì vậy nếu các bạn <span class="text-danger">Tắt hoặc Load lại trang web</span> mọi thông tin sẽ bị xóa.
              Vì vậy bạn nên lưu ý trước khi tắt hay reload nhé! :) (trước khi thoát nhớ xin info nếu muốn nói chuyện tiếp nhaaa)
            </p>
            <h3>Feedback và hỏi ai?</h3>
            <p>Đây là phiên bản thử nghiệm, không thể không có những lỗi vì thế trong quá trình sử dụng nếu phát hiện lỗi hay bất cứ vấn đề gì thì có thể báo cho mình để mình giải quyết nhé! Chào thân ái</p>
            <p>Facebook mềnh: <a href="https://facebook.com/cvthang56th2">Cao Viết Thắng</a></p>
          </ul>
        </div>
      </div>





      <div class="content hidden" id="nav-all">
        <div class="title text-center">
          <h5 class="text-primary">CHAT VỚI TẤT CẢ MỌI NGƯỜI</h5>
        </div>
        <div class="messages" id="wrap-chat-all-content" style="background-image: url('../images/background2.jpg');">
          <ul>
            <li class="replies"><p><b>Tờ roai</b>: Hello bạn iu luôn!!! :P</p></li>
            <li class="replies"><p><b>Bạn iu</b>: Hello bạn iu lại luôn!!! :P</p></li>
          </ul>
        </div>
        <div class="wrap-send-message">
          <div class="form-group d-flex">
            <input type="text" id="chat-all-message" class="form-control" placeholder="Ghi gì đi...">
            <button class="btn ml-2" id="chat-all-btn">Gửi</button>
          </div>
        </div>
      </div>




      <div class="content hidden" id="nav-room">
        <div class="title text-center">
          <h5 class="text-primary">CHAT NHÓM <span class="room-name hidden">- Nhóm:<span id="room-name"></span> <button class="btn" id="btn-logout-room">Thoát nhóm</button></span></h5>
        </div>
        <div class="wrap-select-room">
          <div class="container">
            <div class="row">
              <div class="col-3 form-group">
                <h6 class="pt-2">Tạo nhóm</h6>
                <label for="create_roomName">Tên nhóm: </label>
                <input type="text" id="create_roomName" class="form-control" placeholder="Nhập tên nhóm muốn tạo...">
                <button class="btn mt-2" id="btn-create-room">Tạo nhóm</button>

                <h6 class="pt-2">Vào nhóm</h6>
                <label for="join_roomName">Tên nhóm muốn vào: </label>
                <input type="text" name="" id="join_roomName" class="form-control" placeholder="Nhập tên nhóm muốn vào...">
                <button class="btn mt-2" id="btn-join-room">Vào nhóm</button>

              </div>
              <div class="col-9">
                <h6 class="pt-2">Danh sách nhóm</h6>
                <div class="wrap-room-list" id="room-list">
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="messages wrap-room hidden" id="wrap-chat-room-content" style="background-image: url('../images/background3.jpg');">
          <ul>
          </ul>
        </div>
        <div class="wrap-send-message send-message-room hidden">
          <div class="form-group d-flex">
            <input type="text" id="chat-room-message" class="form-control" placeholder="Ghi gì đi...">
            <button class="btn ml-2" id="chat-room-btn">Gửi</button>
          </div>
        </div>
      </div>




      
      <div class="content hidden" id="nav-anonymous">
        <div class="title text-center">
          <h5 class="text-primary">TÂM SỰ CÙNG NGƯỜI LẠ : <span id="anon-name"></span></h5>
        </div>
        <div class="messages wrap-chat-content" id="wrap-chat-anonymous-content" style="background-image: url('../images/background1.jpg');">
          <ul>
          </ul>
          <div class="px-1">
            <h5 id="anon-noti"></h5>
            <button class="btn" id="btn-find-other-anon">Tìm người khác</button>
            <button class="btn" id="join-chat-anonymous-btn">Vào chat</button>
          </div>
        </div>
        <div class="wrap-send-message">
          <div class="form-group d-flex">
            <input type="text" id="chat-anonymous-message" class="form-control" placeholder="Ghi gì đi...">
            <button class="btn ml-2" id="chat-anonymous-btn">Gửi</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="images/chatntulogo.jpg" alt="" class="logo img-responsive">
</body>
</html>