<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <a href="trang-chu">Trang chủ</a>

  <h1>
    Tạo phòng
    <a href="chon-loai-chat">
      <button>Thoát</button>
    </a>
  </h1>
  
  <label for="roomId">Mã phòng: </label>
  <input type="text" name="" id="roomId">
  <label for="roomName"></label>
  <input type="text" id="roomName">
  <button>Tạo phòng</button>
  <h1>Tạo phòng</h1>
  <label for="roomId">Mã phòng: </label>
  <input type="text" name="" id="join_roomId">
  <button>Vào phòng</button>
  <h1>Danh sách phòng</h1>
  <div class="wrap">
    <div class="room">
      <span>P01</span> Lorem ipsum dolar amet... <span>Số lượng: </span>1
    </div>
    <div class="room">
      <span>P01</span> Lorem ipsum dolar amet... <span>Số lượng: </span>1
    </div>
    <div class="room">
      <span>P01</span> Lorem ipsum dolar amet... <span>Số lượng: </span>1
    </div>
    <div class="room">
      <span>P01</span> Lorem ipsum dolar amet... <span>Số lượng: </span>2
    </div>
    <div class="room">
      <span>P01</span> Lorem ipsum dolar amet... <span>Số lượng: </span>2
    </div>
    <div class="room">
      <span>P01</span> Lorem ipsum dolar amet... <span>Số lượng: </span>2
    </div>
    <div class="room">
      <span>P01</span> Lorem ipsum dolar amet... <span>Số lượng: </span>3
    </div>
    <div class="room">
      <span>P01</span> Lorem ipsum dolar amet... <span>Số lượng: </span>3
    </div>
    <div class="room">
      <span>P01</span> Lorem ipsum dolar amet... <span>Số lượng: </span>3
    </div>
    <div class="room">
      <span>P01</span> Lorem ipsum dolar amet... <span>Số lượng: </span>4
    </div>
    <div class="room">
      <span>P01</span> Lorem ipsum dolar amet... <span>Số lượng: </span>4
    </div>
  </div>
</body>
</html>