<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="js/jquery.js"></script>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script src="js/trangchu.js"></script>
  <link rel="stylesheet" href="css/layout.css" type="text/css">
</head>

<body>
  <div id="wrapper">
    <div>
      <h1>Nhập tên để vào chat:</h1>
      <label for="txtUserName">Tên: </label>
      <input type="text" id="txtUserName">
      <!-- <a href="chon-loai-chat"> -->
        <button id="btn-join-chat">Vào chat</button>
      <!-- </a>  -->
    </div>
  </div>

</body>

</html>