body {
  background: #00f0fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrap {
  display: flex;
  border: 1px solid #dfd;
  border-radius: 10px;
  background: #fff;
  height: 100%;
}

.wrap .title {
  border-top-right-radius: 10px;
  background: #f2e9d2;
  border-bottom: #8e71ba;
  position: relative;
}

.wrap .sidebar {
  padding: 5px;
  width: 20%;
  height: 100%;
  overflow: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #67636d;
  color: #fff;
}

.wrap .content {
  width: 80%;
}
.wrap .content .messages {
  margin: 0 !important;
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  .wrap .content .messages {
    max-height: calc(100% - 105px);
  }
}
.wrap .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.wrap .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
.wrap .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  /* margin: 15px 15px 5px 15px; */
  width: calc(100% - 25px);
  font-size: 0.9em;
}
.wrap .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
.wrap .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
.wrap .content .messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
}
.wrap .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
.wrap .content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}
.wrap .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
.wrap .content .messages ul li p {
  display: inline-block;
  margin-top: 0;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  .wrap .content .messages ul li p {
    max-width: 300px;
  }
}

.hidden {
  display: none;
}

.d-flex {
  display: flex;
}

.wrap-chat {
  border-radius: 10px;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
}

.pointer {
  cursor: pointer;
}

.types .type {
  margin-top: 5px;
  padding: 5px;
  background: #8e71ba;
  border-top: #dfd;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.show-inline-block {
  display: inline-block;
}

/* #btn-logout-room {
  position: absolute;
  top: 5px;
  right: 5px;
} */

.active {
  background: #eac86b !important;
}