body {
  min-width: 500px;
  background: #00f0fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center;
  background-image: url('../images/main-background2.jpg');
}

.wrap {
  position: relative;
  border: 2px solid #4ea3d4;
  display: flex;
  border-radius: 10px;
  background: #fff;
  height: 100%;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

.wrap .title {
  padding: 5px;
  border-top-right-radius: 10px;
  background: #f5f5f5;
  border-bottom: #8e71ba;
  position: relative;
}

.wrap .sidebar {
  padding: 5px;
  width: 20%;
  height: 100%;
  overflow: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #2c3e50;
  color: #fff;
}

.wrap .content {
  width: 80%;
}
.wrap .content .messages {
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center;
  margin: 0 !important;
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 735px) {
  .wrap .content .messages {
    max-height: calc(100% - 105px);
  }
}
.wrap .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.wrap .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
.wrap .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  /* margin: 15px 15px 5px 15px; */
  width: calc(100% - 25px);
  font-size: 0.9em;
}
.wrap .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
.wrap .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
.wrap .content .messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
}
.wrap .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
.wrap .content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}
.wrap .content .messages ul li.noti {
  font-size: 16px;
  font-weight: 500;
}
.wrap .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
.wrap .content .messages ul li p {
  display: inline-block;
  margin-top: 0;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  .wrap .content .messages ul li p {
    max-width: 300px;
  }
}

.hidden {
  display: none;
}

.d-flex {
  display: flex;
}

.wrap-chat {
  border-radius: 10px;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
}

.pointer {
  cursor: pointer;
}

.types .type {
  margin-top: 5px;
  padding: 5px;
  background: #8e71ba;
  border-top: #dfd;
}

.types .type span {
  color: #00f0fa;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.show-inline-block {
  display: inline-block;
}

.active {
  background: #eac86b !important;
}

.online-user-name {
  text-decoration: underline;
}

.ml-2 {
  margin-left: 8px;
}

.mt-2 {
  margin-top: 8px;
}

.pt-2 {
  padding-top: 8px;
}

.px-1 {
  padding-right: 4px;
  padding-left: 4px;
}

.logo {
  width: 70px;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  position: absolute;
  border-radius: 50%;
}

.wrap-select-room {
  padding-top: 4px;
  margin: 0 !important;
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrap-send-message {
  padding-left: 5px;
  padding-right: 5px;
}

.btn {
  background: #7db5ec;
}

#anon-noti {
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  line-height: 20px;
}

.text-head {
  color: #dfd;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#btn-logout {
  position: absolute;
  top: 1px;
  right: 5px;;
  z-index: 1;
}